.venv
__pycache__
*.pyc
*.pem
.vscode
.pytest_cache
.python-version
.idea
.env
.DS_Store
labs/
notes/
archives/
venv
db.sqlite3
local_settings.py
lab*.py
client_secret.json
runsslserver*
notes.txt
*__ARCHIVED.py
*.csv
